PINATA_JWT=
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_GATEWAY=your_gateway.mypinata.cloud

# MongoDB Connection (e.g., mongodb+alias://...)
MONGODB_URI=

# 32-byte hex string (64 characters)
ENCRYPTION_KEY=
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_PROGRAM_ID=your_deployed_program_id